// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom variables
:root {
  --fade4s: fade-in 4s forwards;
  --zero: 0;
  --none: none;
  --100: 100%;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-family: Roboto, sans-serif;
  // font-family: var(--bs-body-font-family);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#thesaurus,
#word,
#boxAndFinish {
  max-width: 172px;
}
#thesaurus > h1 {
  font-family: cursive;
}

#word-form > label {
  font-size: xx-small;
}

div.lead.m-3 {
  H1.text-center {
    font-size: 15em;
  }
  p.text-center {
    margin-top: -1.5em;
  }
  a.text-center.btn.btn-primary.m-auto {
    display: block;
    width: max-content;
  }
}

.px-lg-5 {
  max-width: 1270px;
}

#thinking {
  width: 150px;
  height: 150px;
  margin-left: -0.2em;
}

.display-4 {
  margin-bottom: -0.6em;
}

.bi-arrow-up-circle:hover {
  color: #495057;
}

// #hints-across {
//   scrollbar-color: red yellow !important;
// }

.h1Hints {
  margin-bottom: -20px;
}

.h1Hints > img {
  width: 50px;
  // margin-right: -20px;
  // margin-right: -5px;
}

.onlyHints {
  max-width: 50vh;
  max-height: 70vh;
  max-height: 65vh;
}

.AcrossDown {
  margin-bottom: -20px;
}

.AcrossDown h3:first-child {
  padding-right: 6em;
}

.AcrossDown h3:last-child {
  padding-right: 1em;
}

// .onlyHintsChildren {
//   max-width: 50vh;
//   max-height: 70vh;
// }

.viewArea {
  z-index: 1;
}

.login-page {
  padding: 1.9em;
}

.banner {
  background: linear-gradient(to right, hsl(210, 96%, 40%), hsl(210, 49%, 42%));
}

.navbar-links {
  --25px: 25px;
  margin-right: 5em;
}

.smallIcons {
  width: var(--25px);
  height: var(--25px);
}

.crossword-b {
  width: 33.5px;
  height: 33.5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: "";
}

.dropdown:hover {
  background-color: hsl(216, 74%, 41%);
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden; /* hides sub-menu */
  opacity: var(--zero);
  position: absolute;
  top: var(--100);
  left: var(--zero);
  width: var(--100);
  text-align: center;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  text-align: center;
}

.dropdown-content > a {
  padding: 12px 16px;
  text-decoration: var(--none);
  font-size: small;
}

.dropdown-content > a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.grid {
  display: grid;
  grid-gap: 1px;
  background: black;
}

.cell5 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}

.cell10 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: white;
}

.cell15 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  background: white;
}

.prevCell {
  background: orange;
}

.pCell {
  left: 10% !important;
  top: 0% !important;
  position: absolute;
}

.pNumber5 {
  font-size: 20;
  user-select: var(--none);
}

.pNumber10 {
  font-size: 15;
  user-select: var(--none);
}

.pNumber15 {
  font-size: 10;
  user-select: var(--none);
}

.pLetter5 {
  text-align: center;
  width: var(--100);
  margin-top: 0.85rem;
  user-select: var(--none);
}

.pLetter10 {
  text-align: center;
  width: var(--100);
  margin-top: 0.78rem;
  user-select: var(--none);
}

.pLetter15 {
  text-align: center;
  width: var(--100);
  margin-top: 0.85rem;
  user-select: var(--none);
}

.hintsCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.table > :not(:first-child) {
  border-top: var(--none);
}

.table-sm > :not(caption) > * > * {
  padding: 1em;
}

// .tdDate {
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.tdSolution {
  max-width: 11em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tdLink {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: var(--none);
}

a:not(.tdLink > a, .tdDeleteAnchor) {
  color: inherit;
}

.tdLinkIcon {
  font-size: 1rem;
}

.tdDeleteAnchor {
  display: inline;
}

.navbar {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.nav-link {
  color: hsl(0, 0%, 100%) !important;
  padding: 5px;
  display: inline-flex;
  align-items: center;
}

.navbar-brand {
  color: hsl(0, 0%, 100%) !important;
  margin-left: 5em;
  font-weight: 300;
}

.navbar-brand:hover {
  color: rgb(0, 105, 255) !important;
}

.dropdown-menu.show {
  min-width: auto;
  width: -moz-available;
  width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

a.profile-drop,
a.profile-drop:focus {
  color: hsl(0, 0%, 100%) !important;
  background-color: "";
  transition: 2s;
}

a.profile-drop:hover,
a.profile-drop:active {
  background-color: hsl(216, 74%, 41%);
  transition: background-color -1s;
}

a.profile-drop > div {
  padding-right: inherit;
}

#gallery {
  padding-right: initial;
  background-color: "";
  transition: 2s;
}

#gallery:hover,
#gallery:active {
  background-color: hsl(216, 74%, 41%);
  transition: background-color -1s;
}

.card-img-top {
  width: 70%;
  height: auto;
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.footerInitial {
  position: relative;
  bottom: var(--zero);
  text-align: center;
}

.footerCrossword {
  position: relative;
  text-align: center;
}

.a2a_kit {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button 19 */
.button-19 {
  max-width: fit-content;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: var(--zero);
  outline: var(--none);
  overflow: visible;
  padding: 13px 16px !important;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: var(--none);
  -webkit-user-select: var(--none);
  vertical-align: middle;
  white-space: nowrap;
  width: var(--100);
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: var(--zero);
  position: absolute;
  right: var(--zero);
  top: var(--zero);
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/* button 50 */
.button-50 {
  appearance: button;
  background-image: var(--none);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: hsl(0, 0%, 100%) 4px 4px 0 0, hsl(0, 0%, 0%) 4px 4px 0 1px;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: var(--none);
  touch-action: manipulation;
  user-select: var(--none);
  -webkit-user-select: var(--none);
  vertical-align: middle;
  white-space: nowrap;
}

.btn50-black {
  background-color: hsl(0, 0%, 0%);
}

.btn50-white {
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsl(0deg 0% 0%) 4px 4px 0 0, hsl(0deg 0% 0%) 4px 4px 0 1px;
  color: hsl(0, 0%, 0%);
}

.btn50-blue {
  background-color: hsl(216deg, 100%, 50%);
  padding: 9.5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn50-black:not([disabled]):active {
  box-shadow: hsl(0, 0%, 100%) 2px 2px 0 0, hsl(0, 0%, 0%) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.btn50-white:not([disabled]):active {
  box-shadow: hsl(0, 0%, 0%) 2px 2px 0 0, hsl(0, 0%, 100%) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.btn50-blue:not([disabled]):active {
  box-shadow: hsl(0, 0%, 100%) 2px 2px 0 0, hsl(0, 0%, 0%) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* button 82 */
.button-82-pushable {
  position: relative;
  border: var(--none);
  background: transparent;
  padding: var(--zero);
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: var(--none);
  -webkit-user-select: var(--none);
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: var(--zero);
  left: var(--zero);
  width: var(--100);
  height: var(--100);
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: var(--zero);
  left: var(--zero);
  width: var(--100);
  height: var(--100);
  border-radius: 12px;
  background: linear-gradient(to left, hsl(210deg, 90%, 20%) 0%, hsl(210deg, 100%, 40%) 8%, hsl(210deg, 100%, 40%) 92%, hsl(210deg, 90%, 20%) 100%);
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(210, 100%, 55%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: var(--none);
}

.login-page > div {
  p {
    animation: var(--fade4s);
    opacity: var(--zero);
    -moz-user-select: var(--none);
    -webkit-user-select: var(--none);
    user-select: var(--none);
    cursor: default;
    img {
      -moz-user-select: var(--none);
      -webkit-user-select: var(--none);
      user-select: var(--none);
      width: 205px;
      height: 205px;
    }
  }
  p:nth-child(1) {
    animation-delay: 0.5s;
  }
  p:nth-child(2) {
    animation-delay: 2s;
  }
  p:nth-child(3) {
    animation-delay: 3.5s;
  }
  p:nth-child(4) {
    animation-delay: 5s;
  }
}

.login-page > a.btn.btn-primary {
  animation: var(--fade4s);
  animation-delay: 6s;
  opacity: var(--zero);
  width: max-content;
  img {
    width: 45px;
    height: 45px;
  }
  div {
    padding-right: 0.2em;
  }
}

#solveCheer {
  animation: var(--fade4s);
  animation-delay: 2.5s;
  opacity: var(--zero);
}

.fade-in {
  animation: var(--fade4s);
  animation-delay: 4s;
  opacity: var(--zero);
}

.loader {
  animation: fade-in 1s forwards;
  animation-delay: -1s;
  opacity: var(--zero);
}

@keyframes fade-in {
  from {
    opacity: var(--zero);
  }
  to {
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 2.5s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    opacity: var(--zero);
    transform: translateY(-100%);
    transition-timing-function: ease-out;
  }
  to {
    opacity: 1;
  }
}

/* CSS */
.button-28 {
  appearance: var(--none);
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.5em;
  min-height: 60px;
  min-width: 0;
  outline: var(--none);
  padding: 16px 24px;
  text-align: center;
  text-decoration: var(--none);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: var(--none);
  -webkit-user-select: var(--none);
  touch-action: manipulation;
  width: var(--100);
  width: 5.6879875em;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: var(--none);
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: var(--none);
  transform: translateY(0);
}
