// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Custom variables
html,
body {
  margin: 0;
  // font-family: Roboto, sans-serif;
  // font-family: var(--bs-body-font-family);
}

// body {
//   min-height: 150vh;
// }

.banner {
  background-color: beige;
  // padding: 0;
  // margin: 0;
  // position: absolute;
  // top: 0;
  // left: 0;
  padding: 16px;
  max-width: 500px;
  // flex-direction: column;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;
  align-self: center;
  align-items: center;
  // text-align: center;
  justify-content: center;
}

// .body {
//   display: flex;
// }

.banner-text {
  text-align: center;
  position: relative;
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.login-page {
  text-align: center;
  padding: 30px;
}

.dropbtn {
  background-color: #04aa6d;
  // background-color: linear-gradient(40deg, #45cafc, #303f9f) !important;
  // background: linear-gradient(40deg, #45cafc, #303f9f) !important;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

// .blue-gradient {
//   background: linear-gradient(40deg, #45cafc, #303f9f) !important;
// }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container {
  // background: black;
  // display: inline-block;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  // align-content: flex-start;
  width: min-content;
  flex-direction: column;
  // border: 5px solid black;
  // padding: 0;
}

.containerF {
  display: flex;
  // margin: 0 auto;
  // display: block;
}

#hintSubmit {
  // display: flex;
  // margin: 0 auto;
  display: block;
  margin-left: 9.5em !important;
}

.toolbelt {
  // align-items: center;
  // display: flex;
  // align-items: center;
  // align-content: center;
  // justify-items: center;
  // justify-self: center;
  // flex-wrap: wrap;
  width: max-content;
  padding: 1em;
  margin: auto;
}

#crossGrid {
  // border: 5px solid black;
  width: auto !important;
  // padding: 0;
}

.grid {
  display: grid;
  grid-gap: 5px;
  background: black;
  // padding: 0;
}

.cell5 {
  /* center the celll content */
  justify-content: center;
  align-items: center;
  // text-align: center;
  // display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}

.cell10 {
  /* center the celll content */
  justify-content: center;
  align-items: center;
  // text-align: center;
  // display: flex;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: white;
}

.cell15 {
  /* center the celll content */
  justify-content: center;
  align-items: center;
  // text-align: center;
  // display: flex;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  background: white;
}

.pCell {
  // padding-left: 5;
  left: 10% !important;
  top: 0% !important;
  position: absolute;
}

.pNumber5 {
  font-size: 20;
}

.pNumber10 {
  font-size: 15;
}

.pNumber15 {
  font-size: 10;
}

.pLetter {
  text-align: center;
  // margin-top: 15;
  // margin-left: 35;
  // width: min-content;
  // left: 0px;
  width: 100%;
  margin-top: 15;
}

.solve {
  margin: 1.5em;
}

.hints {
  margin-left: 2em;
  // margin: 0 auto;
  // display: block;
  // margin-left: 5.7em;
}

// #hints {
//   // margin-left: 5.7em;
//   position: relative;
// }

#hints-down {
  margin-left: 2em;
}

.onlyHints {
  display: flex;
  width: max-content;
  // margin: 0 auto;
  // display: block;
}

// .table-responsive {
//   display: table-caption;
//   padding: 1em;
// }

.table > :not(:first-child) {
  border-top: none;
}

.table-sm > :not(caption) > * > * {
  // padding: 0.25rem 0.25rem;
  padding: 1em;
}

.tdDate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tdSolution {
  max-width: 11em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tdLink {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

.tdLinkIcon {
  font-size: 1rem;
}

// .deleteIcon {
//   font-size: 1rem;
// }

.tdDeleteAnchor {
  display: inline;
}

.theBody {
  margin-top: 3em;
}

.navbar {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.55);
}

.navbar-brandMain {
  // padding-top: 0.3125rem;
  // padding-bottom: 0.3125rem;
  // margin-right: 48rem;
  margin-left: 5em;
  color: rgba(255, 255, 255, 0.55);
  // font-size: 1.25rem;
  // text-decoration: none;
  // white-space: nowrap;
}

.navbar-toggler {
  // padding: 0.25rem 0.75rem;
  margin-right: 5em;
  // font-size: 1.25rem;
  // line-height: 1;
  // background-color: transparent;
  // border: 1px solid transparent;
  // border-radius: 0.25rem;
  // transition: box-shadow 0.15s ease-in-out;
}

.navbar-collapse {
  // flex-basis: 100%;
  // flex-grow: 1;
  // align-items: center;
  margin-right: 5em;
}

// #dropdownUser {
//   margin-right: 5em;
// }

// #footer {
//   position: fixed;
//   padding: 10px 10px 0px 10px;
//   bottom: 0;
//   width: 100%;
//   /* Height of the footer*/
//   height: 40px;
//   background: grey;
// }

// .footerC {
//   margin-top: 15em;
// }

// #page-container {
//   position: relative;
//   min-height: 150vh;
// }

// #content-wrap {
//   padding-bottom: 10.5rem; /* Footer height */
// }

.footerInitial {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footerCrossword {
  position: relative;
  text-align: center;
  // margin-top: 1em;
}

#clickMode {
  // width: 50px;
  width: 3em;
}

#check {
  // width: 5em;
  // margin: auto;
  // text-align: center;
  // margin-left: 25em;
  padding: inherit;
}
// border: 5px solid #ffff00;

// #navbarSolve {
//   display: flex;
//   justify-content: space-between;
// }

// <button class="button-19" role="button">Button 19</button>

/* CSS */
.button-19 {
  max-width: fit-content;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px !important;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/// Letter i
//** position: absolute;
/* left: -50px; */
/* top: -30px; */
/* right: 40px; */
/* top: -30px; */
// font-size: 20px;
//** top: 0%;
//** left: 10%;
