// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@media (max-width: 1000px) {
  .wrap1000 {
    flex-wrap: wrap !important;
  }
  .footerCrossword {
    position: sticky;
    bottom: 0;
    // width: 100%;
    text-align: center;
  }
  .hintsCreate {
    flex-direction: row !important;
  }
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
}

#thesaurus {
  flex-direction: column;
  width: min-content;
  display: flex;
}

// Custom variables
html,
body {
  margin: 0;
  background-color: #f1f1f1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-family: Roboto, sans-serif;
  // font-family: var(--bs-body-font-family);
}

.banner {
  background: linear-gradient(to right, hsl(210, 96%, 40%), hsl(210, 49%, 42%));
}

// .text-white.p-5.shadow-sm.rounded.banner.d-flex.justify-content-center {
//   img {
//     width: 100px;
//   }
// }

.bi-arrow-up-circle:hover {
  color: #495057;
}

#bodyId {
  //possibly make body
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-page {
  text-align: center;
  padding: 1.9em;
}

// .dropbtn {
//   background-color: hsl(216, 100%, 50%);
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
// }

// .dropdown:hover .dropbtn {
//   background-color: hsl(216, 74%, 41%);
// }

// .dropdown {
//   position: relative;
// }

.dropdown-content {
  // display: none;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover .dropdown-content {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownM {
  position: relative;
  display: inline-block;
  background: "";
}

.dropdownM:hover {
  background-color: hsl(216, 74%, 41%);
}

.dropdown-contentM {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  text-align: center;
}

.dropdown-contentM a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentM a:hover {
  background-color: #ddd;
}

.dropdownM:hover .dropdown-contentM {
  // display: block;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  // width: min-content;
  flex-direction: column;
}

#crossGrid {
  width: auto !important;
}

.grid {
  display: grid;
  grid-gap: 1px;
  background: black;
}

.cell5 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}

.cell10 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: white;
}

.cell15 {
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  background: white;
}

.pCell {
  left: 10% !important;
  top: 0% !important;
  position: absolute;
}

.pNumber5 {
  font-size: 20;
}

.pNumber10 {
  font-size: 15;
}

.pNumber15 {
  font-size: 10;
}

.pLetter5 {
  text-align: center;
  width: 100%;
  margin-top: 0.85rem;
}

.pLetter10 {
  text-align: center;
  width: 100%;
  margin-top: 0.78rem;
}

.pLetter15 {
  text-align: center;
  width: 100%;
  margin-top: 0.85rem;
}

.solve {
  margin: 1.5em;
}

.hintsCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#hints-input-across {
  margin-bottom: 1em;
}

#hints-input-down {
  margin-bottom: 1em;
}

#userArea {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.table > :not(:first-child) {
  border-top: none;
}

.table-sm > :not(caption) > * > * {
  padding: 1em;
}

.tdDate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tdSolution {
  max-width: 11em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tdLink {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

.tdLinkIcon {
  font-size: 1rem;
}

.tdDeleteAnchor {
  display: inline;
}

.theBody {
  margin-top: 3em;
}

.navbar {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.nav-link {
  color: #fff;
  // display: -webkit-inline-box;
  display: inline-flex;
  align-items: center;
}

// #profileName {
//   padding-right: inherit;
// }

.navbar-brand {
  color: hsl(0, 0%, 100%) !important;
  margin-left: 5em;
  font-weight: 300;
}

.navbar-brand:hover {
  color: rgb(0, 105, 255) !important;
}

// .profile-drop {
//   margin-bottom: 2;
// }

.dropdown-menu.show {
  min-width: auto;
  width: -moz-available;
  width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

a.profile-drop,
a.profile-drop:focus {
  color: hsl(0, 0%, 100%) !important;
  background-color: "";
  transition: 2s;
}

a.profile-drop:hover,
a.profile-drop:active {
  // color: hsl(0, 0%, 75%);
  // background: cornflowerblue;
  // background: hsl(216deg, 100%, 50%);
  background-color: hsl(216, 74%, 41%);
  transition: background-color -1s;
}

#gallery {
  color: hsl(0, 0%, 100%) !important;
  padding: 5px;
  padding-right: initial;
  background-color: "";
  transition: 2s;
}

#gallery:hover,
#gallery:active {
  background-color: hsl(216, 74%, 41%);
  transition: background-color -1s;
}

.dropdown-toggle::after {
  // vertical-align: baseline;
  vertical-align: middle;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.navbar-toggler {
  margin-right: 5em;
}

.navbar-collapse {
  margin-right: 5em;
}

.navbar-right {
  margin-right: 5em;
}

#navbar-dropdown {
  padding: 5px;
}

.footerInitial {
  position: relative;
  bottom: 0;
  text-align: center;
}

.footerCrossword {
  position: relative;
  text-align: center;
}

#check {
  padding: inherit;
}

.a2a_kit {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button 19 */
.button-19 {
  max-width: fit-content;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px !important;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/* button 22 */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out, opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}

/* button 58 */
.button-58 {
  align-items: center;
  background-color: hsl(216, 100%, 50%);
  border: 2px solid hsl(216, 100%, 50%);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

/* button 66 */
.button-66 {
  background-color: hsl(216, 100%, 52%);
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

/* button 50 */
.button-50 {
  appearance: button;
  background-color: hsl(0, 0%, 0%);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: hsl(0, 0%, 100%) 4px 4px 0 0, hsl(0, 0%, 0%) 4px 4px 0 1px;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50-w {
  appearance: button;
  background-color: hsl(0, 0%, 100%);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: hsl(0, 0%, 0%) 4px 4px 0 0, hsl(0, 0%, 100%) 4px 4px 0 1px;
  box-shadow: hsl(0deg 0% 0%) 4px 4px 0 0, hsl(0deg 0% 0%) 4px 4px 0 1px;
  box-sizing: border-box;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus,
.button-50:hover {
  text-decoration: none;
}

.button-50:not([disabled]):active {
  box-shadow: hsl(0, 0%, 100%) 2px 2px 0 0, hsl(0, 0%, 0%) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.button-50-w:not([disabled]):active {
  box-shadow: hsl(0, 0%, 0%) 2px 2px 0 0, hsl(0, 0%, 100%) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* button 43 */
.button-43 {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  width: auto !important;
  font-size: 16px;
  justify-content: center;
  padding: 16;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

/* button 82 */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(210deg, 90%, 20%) 0%, hsl(210deg, 100%, 40%) 8%, hsl(210deg, 100%, 40%) 92%, hsl(210deg, 90%, 20%) 100%);
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(210, 100%, 55%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

#build {
  animation: fade-in 4s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#save {
  animation: fade-in 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#challenge {
  animation: fade-in 4s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#getStarted {
  animation: fade-in 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#solveCheer {
  animation: fade-in 4s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.login-page > a.btn.btn-primary {
  animation: fade-in 4s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in {
  animation: fade-in 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.loader {
  animation: fade-in 6s;
  animation-delay: -2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 2.5s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
    transition-timing-function: ease-out;
  }
  to {
    opacity: 1;
  }
}

#leadText {
  p {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    img {
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

/* button 50 */
.button-50-b {
  appearance: button;
  background-color: hsl(216deg, 100%, 50%);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 9.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50-b:focus,
.button-50-b:hover {
  text-decoration: none;
}

.button-50-b:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50-b:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

// <!-- HTML !-->
// <button class="button-28" role="button">Button 28</button>

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.5em;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  width: 5.6879875em;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
