{{!-- <div id="footer" class="footerInitial" title="Get to know Crosswordia's developer!"> <p> Copyright &copy; {{footer}} Danny Alfredo Rodriguez All Rights Reserved | <a href="/about">About</a></p></div> --}}
<div id="footer" class="footerInitial" title="Get to know Crosswordia's developer!"> <p> Copyright &copy; {{footer}} Danny Rodriguez | <a href="/about">About</a></p></div>