<div id="thesaurus" class="d-none">
  <h1>Thesaurus</h1>
  <form id="word-form">
    <label for="word">Input a Word</label>
    <input id="word" type="text" />
    <button id="dictSubmit" type="button" class="btn btn-primary w-100 my-2">Search</button>
  </form>
  <ul id="listDict"></ul>
</div>