<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
    :root {--fade4s: fade-in 4s forwards;--zero: 0;--none: none;--100: 100%;}.fade-in {animation: var(--fade4s);animation-delay: 4s;opacity: var(--zero);}@keyframes fade-in {from {opacity: var(--zero);}to {opacity: 1;} }.dropdown-content {visibility: hidden;}section{z-index: 1;}.navbar-links {margin-right: 5em;}.box-shadow {box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;}.user-link {color: hsl(0, 0%, 100%) !important;padding: 5px;display: inline-flex;align-items: center;}.navbar-links {margin-right: 5em;}.smallIcons {width: 25px;height: 25px;}.navbar-links > a {padding-right: initial;}.navbar-links > a:hover,.navbar-links > a:active {background-color: hsl(216deg, 74%, 41%);transition: background-color -1s;}.area {background: hsl(210deg 78% 70%);width: 100%;}.circles {position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;padding-left: 0 !important;}.circles img {width: -moz-available;width: -webkit-fill-available;}.circles li {position: absolute;display: block;list-style: none;width: 20px;height: 20px;animation: animate 25s linear infinite;bottom: -150px;user-select: none;}.circles li:nth-child(1) {left: 25%;width: 80px;height: 80px;animation-delay: 0s;}.circles li:nth-child(2) {left: 10%;width: 20px;height: 20px;animation-delay: 2s;animation-duration: 12s;}.circles li:nth-child(3) {left: 70%;width: 20px;height: 20px;animation-delay: 4s;}.circles li:nth-child(4) {left: 40%;width: 60px;height: 60px;animation-delay: 0s;animation-duration: 18s;}.circles li:nth-child(5) {left: 65%;width: 20px;height: 20px;animation-delay: 0s;}.circles li:nth-child(6) {left: 75%;width: 110px;height: 110px;animation-delay: 3s;}.circles li:nth-child(7) {left: 35%;width: 150px;height: 150px;animation-delay: 7s;}.circles li:nth-child(8) {left: 50%;width: 25px;height: 25px;animation-delay: 15s;animation-duration: 45s;}.circles li:nth-child(9) {left: 20%;width: 15px;height: 15px;animation-delay: 2s;animation-duration: 35s;}.circles li:nth-child(10) {left: 85%;width: 150px;height: 150px;animation-delay: 0s;animation-duration: 11s;}@keyframes animate {0% {transform: translateY(0) rotate(0deg);opacity: 1;border-radius: 0;}100% {transform: translateY(-1000px) rotate(720deg);opacity: 0;border-radius: 50%;} }
</style>
    <title id="titlePage">{{title}}</title>
    <link rel="shortcut icon" href="/img/crossword.svg" type="image/svg+xml" media="(prefers-color-scheme: light)" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/img/crossword-darkmode.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)" referrerpolicy="no-referrer" />
    <link rel="mask-icon" href="/img/crossword.svg" color="black" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/create.css?v=1.02" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/colored-theme.min.css" referrerpolicy="no-referrer"/>
    <script src="/scripts/growl-notification.min.js" type="module"></script>
  </head>
  <body id="bodyId" class="area">
    <nav class="navbar navbar-light bg-light justify-content-between py-2 fixed-top">
      <a href="/" class="navbar-brand" title="Home">Welcome to Crosswordia!</a>

      <div class="navbar-links">
        <a href="/login-create" class="user-link justify-content-between box-shadow" role="button" title="Make your own crossword!">Create <img class="smallIcons" src="/img/create-crossword.svg" referrerpolicy="no-referrer" alt="crossword" width="25" height="25" /></a>
        <a id="gallery" href="/gallery" class="user-link justify-content-between box-shadow" role="button" title="Check out our hande-selected crosswords for you to solve!">Gallery
          <img class="smallIcons" src="/img/crossword.svg" referrerpolicy="no-referrer" alt="Gallery" />
        </a>
        <div class="dropdown">
          <a class="profile-drop user-link justify-content-between box-shadow" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div>Login</div>
            <img src="/img/google.svg" alt="avatar" referrerpolicy="no-referrer" class="smallIcons rounded-circle" width="25" height="25" />
          </a>
          {{!-- <div class="dropdown-content"> --}}
            {{!-- <a href="/user" class="dropdown-item d-inline-flex align-items-center" role="button" title="Review the crosswords you made!"><div>My Crosswords</div> --}}
              {{!-- <img src="/img/myCrosswords-b.svg" referrerpolicy="no-referrer" class="crossword-b" alt="My Crosswords" width="33.5" height="33.5"/> --}}
            </a>
            {{!-- <a href="/auth/logout" class="dropdown-item">Logout <i class="bi bi-box-arrow-right"></i></a> --}}
          {{!-- </div> --}}
        </div>
      </div>

    </nav>

    <section class="flex-grow-1 mt-5">

        {{{body}}}

        {{!-- {{> _footer}} --}}

    </section>

{{> _floatingSquares}}

{{> _footer}}
  </body>
</html>