<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">#thinking{width: 150px;}</style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {{! <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> }}
    <link rel="preload" href="/img/crossword.svg" as="image" />
    {{! <link rel="preload" href="/img/crossword-thinking.svg" as="image" /> }}
    <link rel="shortcut icon" href="/img/crossword.svg" type="image/svg+xml" media="(prefers-color-scheme: light)" />
    <link rel="shortcut icon" href="/img/crossword-darkmode.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)" />
    <link rel="mask-icon" href="/img/crossword.svg" color="black" />
    <title id="titlePage">Crosswordia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/create.css" />
    <link rel="stylesheet" type="text/css" href="/css/colored-theme.min.css" />
    <script src="/scripts/growl-notification.min.js" type="module"></script>
    <link rel="stylesheet" href="/css/floatingSquares.css" />
  </head>
  <body id="bodyId" class="area">
    <nav class="navbar navbar-light bg-light justify-content-between py-2 fixed-top">
      <a href="/" class="navbar-brand">Welcome to Crosswordia!</a>

      <div class="navbar-links" style="margin-right: 5em">
        <a id="gallery" href="/gallery" class="nav-link justify-content-between box-shadow" role="button" style="cursor: pointer;"><div>Gallery</div>
          <img src="/img/crossword.svg" alt="" style="width:25;" />
        </a>
        <div class="dropdownM dropReturn">
          <a class="profile-drop nav-link dropdown-toggle justify-content-between box-shadow" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div style="padding-right: inherit;">My Dashboard</div>
            <img src="{{image}}" alt="" referrerpolicy="no-referrer" class="rounded-circle" style="width:25;" />
          </a>
          <div class="dropdown-contentM">
            <a href="/user" class="dropdown-item d-inline-flex align-items-center" role="button" style="font-size: small;"><div>My Crosswords</div>
              <img src="/img/myCrosswords-b.svg" alt="" style="width:33.5;" />
            </a>
            <a href="/auth/logout" class="dropdown-item" style="font-size: small;">Logout <i class="bi bi-box-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </nav>

    <section class="viewarea" id="viewarea" style="flex: 1; z-index: 1;">
      <div class="container theBody">

        {{{body}}}

      </div>

    </section>

    <ul class="circles">
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
      <li> <img src="/img/crossword.svg" alt="" draggable="false" style="width: -moz-available; width: -webkit-fill-available" ; /></li>
    </ul>

    {{!-- <div id="footer" class="footerInitial" style="z-index: 1; left: 3px;"> <p> Copyright &copy; <script>document.write(new Date().getFullYear())</script> Danny Alfredo Rodriguez All Rights Reserved </p></div> --}}
    <div id="footer" class="footerInitial" style="z-index: 1; left: 3px;"> <p> Copyright &copy; {{footer}} Danny Alfredo Rodriguez All Rights Reserved </p></div>
  </body>
</html>