<head>
  <style type="text/css">
    #bodyId{background:#f1f1f1;} img{max-width:100%; height:auto} .circles li {animation: none} .circles {display: none;}
  </style>
</head>

<div class="container mt-4">
  <div class="row">
    <h1>About Me</h1>
    <div class="col-sm-8">Hello I'm Danny Rodriguez, I hope you've enjoyed my fun crossword site from my portfolio. Currently I am open to new opportunities.

      <div class="d-flex">
        <div class="d-flex flex-column">
          <h1 class="mt-4">Credits</h1>
          <h3>The Noun Project</h3>
          <a href="https://thenounproject.com/icon/crossword-puzzle-1527159/">"Crossword Puzzle" icon by Mathew Davis</a>
          <a href="https://thenounproject.com/icon/crossword-4393607/">"Crossword" icon by Robert Bjurshagen</a>
          <a href="https://thenounproject.com/icon/crossword-2450932/">"Crossword" icon by monkik</a>
          <a href="https://thenounproject.com/icon/crossword-3957147/">"Crossword" icon by ferdizzimo</a>
          <a href="https://thenounproject.com/icon/scroll-3053086/">"Scroll" icon by Daniel Leonard</a>

          <h1 class="mt-3">Technology Stack</h1>
          <h3>Frontend</h3>
          <a href="https://handlebarsjs.com/">Handlebars - Templating</a>
          <a href="https://getbootstrap.com/">Bootstrap - Styling</a>
          <a href="https://sass-lang.com/">Sass - Styling</a>
          <p>JavaScript</p>

          <h3>Backend</h3>
          <a href="https://nodejs.org/en/">Node.js - Server</a>
          <a href="https://expressjs.com/">Express.js - Node Framework</a>
        </div>
        <div class="d-flex flex-column mt-4 mx-auto">
          <h3>Favorite Books</h3>
          <a href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654">The Design of Everyday Things</a>
          <a href="https://www.amazon.com/Originals-audiobook/dp/B01A7Q61LI/">Originals</a>
          <a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/B0006IU7JK/">How to Make Friends and Influence People</a>
          <a href="https://www.amazon.com/Triumph-City-Greatest-Invention-Healthier/dp/0143120549/">Triumph of the City</a>
          <a href="https://www.amazon.com/Jobs-Be-Done-Theory-Practice/dp/B08R8ZGPXP/">Jobs to Be Done</a>

          <h3 class="mt-3">Civic Interests</h3>
          <a href="https://en.wikipedia.org/wiki/California_housing_shortage">California Housing Shortage and Solutions</a>
          <a href="https://en.wikipedia.org/wiki/Traffic_congestion">Traffic Solutions</a>
          <a href="https://en.wikipedia.org/wiki/Bowling_Alone">Civic Participation and Social Capital</a>

          <h3 class="mt-3">Fun Coding Readings</h3>
          <a href="https://divyanshu013.dev/blog/temporal-dead-zone/">Temporal Dead Zone</a>
          <a href="https://joyofcode.xyz/dark-mode-favicon">Favicon That Works For Light And Dark Mode</a>
          <a href="https://betterexplained.com/articles/understanding-quakes-fast-inverse-square-root/">Understanding Quake’s Fast Inverse Square Root</a>
        </div>
      </div>

    </div>

    <div class="col-sm-4 d-flex flex-column"><img src="/img/professional-shot.jpg" referrerpolicy="no-referrer" alt="Danny Rodriguez LinkedIn Photo" width="416" height="562" />
      <p><strong>Location:</strong> San Diego, CA</p>
      <p><strong>Hobbies:</strong> Reading, Civics, Coding</p>
      <p><strong>Social:</strong>

        <a href="https://www.linkedin.com/in/danny-alfredo-rodriguez/">LinkedIn <i class="bi bi-linkedin"></i><i class="bi bi-link-45deg tdLinkIcon"></i></a>
        <a href="https://github.com/Danny-Rodriguez">GitHub <i class="bi bi-github"></i><i class="bi bi-link-45deg tdLinkIcon"></i></a>
      </p>
    </div>
  </div>
</div>