<style type="text/css">.px-lg-5{max-width: 1270px;} #thinking{width: 150px; height: 150px; margin-left: -0.2em;} .display-4{margin-bottom: -0.6em;} .bi-arrow-up-circle:hover {color: #495057;}</style>

<div class="container-fluid">
  <div class="px-lg-5">

    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner d-flex justify-content-center">
          <div class="d-flex flex-column">
          <h1 class="display-4">Crossword Gallery<img src={{thinking}} id="thinking" referrerpolicy="no-referrer" alt="thinking" width="150" height="150"></h1>
          <p class="lead">Test your skills on our Crosswords</p>
          <p class="lead">Good Luck!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="/solve/62abce7bba7c8e1cc7749ad9">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Britney, literature, and a world leader</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-success px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">10x10</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-warning px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Intermediate</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="/solve/62fc345aac43aa39a039f5aa">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">15x15</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">From Southern California to Britain and popular culture</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-danger px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Advanced</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-md-6 mb-4">
         <a href="#">
        <div class="bg-white rounded shadow-sm text-center"><img
              src="/img/crossword.svg"
              alt="crossword"
              class="img-fluid card-img-top"
            /></a>
          <h5 class="text-dark">5x5</h5>
          <div class="p-4">

            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit</p>
            <div
              class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"
            >
              <p class="small mb-0 mx-auto"><i
                  class="fa fa-picture-o mr-2"
                ></i><span class="font-weight-bold">Beginner</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

    </div>
    <div class="py-5 text-right"><a
        href="#"
        class="btn px-5 py-3 text-uppercase"
      ><i class="bi bi-arrow-up-circle h1"></i></a></div>
  </div>
</div>