<div class="dropdown">
  <button class="dropbtn">Choose Your Crossword Size!</button>
  <div class="dropdown-content">
    <a class="sizeSelector" href="#">5x5</a>
    <a class="sizeSelector" href="#">10x10</a>
    <a class="sizeSelector" href="#">15x15</a>
  </div>
</div>

<button id="clickMode">Add a Black Box</button>
<button id="hintBtn">Finish and Create Hints</button>
<a href="/auth/logout">Logout</a>
<!--placeholder for container-->
<div class="container">
  <div class="grid" id="crossGrid" tabindex="0"></div>

</div>
<div id="hints"></div>

<script src="/scripts/create.js" type="module"></script>

{{! <link rel="stylesheet" type="text/css" href="/css/create.css" /> }}
<link rel="stylesheet" type="text/css" href="/css/createCopy.css" />