<head>
  <style type="text/css">
    .row > div:hover {transform: scale(1.05);} img{width:193; height:193;} .fitC{max-width: fit-content} .rounded-pill{color:aliceblue} .g-4.fade-in{animation-delay: 1.5s;} .mt-4.fade-in{animation-delay: 0s;} .card-text {white-space:nowrap;} .row > div {max-width: 50vw; align-content: center; justify-content: center; align-items: center;}
  </style>
</head>

<h1 class="lead d-flex justify-content-around mt-4 fade-in">Hello {{name}}, what do you want to do?</h1>

<div class="row row-cols-1 row-cols-md-2 g-4 fade-in">
  {{! <div class="card-group"> }}
  <div class="col">
    <div class="card h-100">
      <a href="/gallery">
        <div class="bg-white rounded text-center"><img src="/img/crossword-thinking.svg" referrerpolicy="no-referrer" alt="crossword" width="193" height="193" />
          <div class="card-body">
            <p class="card-text small text-muted mb-0">Try out the premade crosswords</p>
            <div class="small rounded-pill bg-primary px-3 py-2 mt-4">
              Go to Gallery
              {{! <p class="card-text small mb-0 mx-auto">Go to Gallery</p> }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <a href="/create">
        <div class="bg-white rounded text-center"><img src="/img/create-crossword.svg" referrerpolicy="no-referrer" alt="crossword" width="193" height="193" />
          <div class="card-body">
            <p class="card-text small text-muted mb-0">Create crosswords and share them</p>
            <div class="small rounded-pill bg-primary px-3 py-2 mt-4">
              Go to Create Page
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {{! </div> }}
</div>