<div class="login-page text-center">

  <div class="lead mb-3">
    <p draggable="false"><img src="/img/create-crossword.svg" referrerpolicy="no-referrer" draggable="false" alt="Build" width="205" height="205" />Build your own crosswords</p>
    <p draggable="false">Save them, share them with friends<img src="/img/crossword-save.svg" referrerpolicy="no-referrer" draggable="false" alt="Save" width="205" height="205" /></p>
    <p draggable="false"><img src="/img/crossword-thinking.svg" referrerpolicy="no-referrer" draggable="false" alt="Challenge" width="205" height="205" />Challenge yourself with other's crosswords</p>
    <p draggable="false">Let's get started</p>
  </div>

  <a class="btn btn-primary d-flex border-0 p-0 m-auto align-items-center" href="/auth/google" role="button"><img src="/img/btn_google_dark_normal_ios.svg" referrerpolicy="no-referrer" alt="Google Sign-In" width="45" height="45" /><div>Sign In With Google </div></a>

</div>