<div class="dropdown">
  <button class="dropbtn">Crossword Puzzle Size</button>
  <div class="dropdown-content">
    <a href="#">5x5</a>
    <a href="#">10x10</a>
    <a href="#">15x15</a>
  </div>
</div>

<button id="clickMode">box</button>
<button id="hints">Finish and Create Hints</button>
<div class="container">
  <div class="grid" id="crossGrid"></div></div>

<script src="/scripts/create.js" type="module"></script>
<link rel="stylesheet" href="/css/create.css" />