<div class="container">
  <div class="grid" id="crossGrid"></div>

</div>
<div id="hints">
  <div id="hints-across"></div>
  <div id="hints-down"></div>
</div>
<button id="check">Check my Answer</button>

<script src="/scripts/solve.js" type="module"></script>
<link rel="stylesheet" href="/css/create.css" />