<div class="solve d-flex justify-content-center wrap1000 loader">

  <div class="container">
    <text class="text-center lead" style="margin-bottom: 1em;">Can You Solve This Crossword? Good Luck!</text>
    <div class="grid" id="crossGrid"></div>

  </div>
  <div class="hints" id="hints">
    <h1 class="h1Hints text-center">Hints</h1>
    <div class="onlyHints">
      <div id="hints-across"><h3>Across</h3></div>
      <div id="hints-down"><h3>Down</h3></div>
    </div>
    <button id="check" class="button-19" role="button">Check my Answer</button>
  </div>

</div>
<div id="hello" class="text-center lead mb-3">Share Your Crossword!</div>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-3">
  <a class="a2a_button_copy_link"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>
  <a class="a2a_button_google_gmail"></a>
  <a class="a2a_button_reddit"></a>
  <a class="a2a_button_sms"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<script src="/scripts/solve.js" type="module"></script>