<div class="solve d-flex justify-content-center mt-4">
  <div class="d-flex flex-column slideDown">
    <text id="solveCheer" class="text-center lead mb-3">Can You Solve This Crossword? Good Luck!</text>
    <div class="grid" id="crossGrid"></div>

  </div>

  <div class="hints slideDown d-flex flex-column justify-content-evenly align-items-center" id="hints">
    <h1 class="h1Hints text-center">Hints<img src="/img/scroll.svg" alt="scrollIcon" /></h1>
    <div class="d-flex AcrossDown">
      <h3>Across</h3>
      <h3>Down</h3>
    </div>
    <div class="onlyHints d-flex">
      <div id="hints-across" class="overflow-scroll mx-3 w-50"></div>
      <div id="hints-down" class="overflow-scroll mx-3 w-50"></div>
    </div>

    <button class="button-19" role="button">Check my Answer</button>
  </div>

</div>
<div class="text-center lead mb-3 mt-3 fade-in">Share Your Crossword!</div>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-3 fade-in">
  <a class="a2a_button_copy_link"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>
  <a class="a2a_button_google_gmail"></a>
  <a class="a2a_button_reddit"></a>
  <a class="a2a_button_sms"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<script src="/scripts/solve.js" type="module"></script>