<div id="userPage">
  {{! Hello this is user.hbs }}
  {{! <button id="userPageBtn">My Profile</button> }}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Solution</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody id="tBodyUser"></tbody>
    </table>
  </div>
</div>

<script src="/scripts/user.js" type="module"></script>
<link rel="stylesheet" type="text/css" href="/css/create.css" />

<!--class="d-sm-flex justify-content-between"-->