<div id="userPage">
  Hello this is user.hbs
  {{! <button id="userPageBtn">My Profile</button> }}
</div>

<script src="/scripts/user.js" type="module"></script>
<link rel="stylesheet" type="text/css" href="/css/create.css" />