<div class="loader" id="userPage">

  <h2 id="userArea" class="lead text-center">
    Hello
    <p class="profileName" id="profileNameUser" referrerpolicy="no-referrer" style="display: inline"></p>! Here's all the crosswords you've made so far...
  </h2>

  <div id="table" class="table-responsive" style="background: white;">
    <table class="table table-striped table-sm" style="margin-bottom:0;">
      <thead>
        <tr>
          <th scope="col" class="thHead">Date</th>
          <th scope="col" class="thHead">Size</th>
          <th scope="col" class="thHead">Solution</th>
          <th scope="col" class="thHead">Link</th>
          <th scope="col" class="thHead">Delete</th>
        </tr>
      </thead>
      <tbody id="tBodyUser"></tbody>
    </table>
  </div>
</div>

<script src="/scripts/user.js" type="module"></script>