<div class="lead" style="width: max-content; margin: 1em;">
  <H1 class="text-center" style="font-size: 15em">404</H1>
  <p class="text-center" style="margin-top: -1.5em;">Content not Found! Invalid URL or that content may have been deleted</p>
  <a href="/" class="text-center btn btn-primary" style="display: block; width: max-content; margin: auto;">Take Me Home</a>
</div>