<head>
  <style type="text/css">
    H1.text-center {font-size: 15em;} p.text-center {margin-top: -1.5em;} a.text-center.btn.btn-primary.m-auto {display: block; width: max-content;}
  </style>
</head>

<div class="lead m-3">
  <H1 class="text-center">404</H1>
  <p class="text-center">Content not Found! Invalid URL or that content may have been deleted</p>
  <a href="/" class="text-center btn btn-primary m-auto">Take Me Home</a>
</div>