<div class="lead m-3">
  <H1 class="text-center">404</H1>
  <p class="text-center">Content not Found! Invalid URL or that content may have been deleted</p>
  <a href="/" class="text-center btn btn-primary m-auto">Take Me Home</a>
</div>